In [1]:
import pandas as pd
import numpy as np

In [2]:
restaurant_data = pd.read_csv("data/Dataset.csv")

In [3]:
restaurant_data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Cuisines,Average Cost for two,Currency,Price range,Aggregate rating,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","French, Japanese, Desserts",1100,Botswana Pula(P),3,4.8,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...",Japanese,1200,Botswana Pula(P),3,4.5,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),4,4.4,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","Japanese, Sushi",1500,Botswana Pula(P),4,4.9,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","Japanese, Korean",1500,Botswana Pula(P),4,4.8,229

In [4]:
restaurant_data.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Cuisines                9
Average Cost for two    0
Currency                0
Price range             0
Aggregate rating        0
Votes                   0
dtype: int64

In [5]:
restaurant_data = restaurant_data.dropna()
restaurant_data.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Cuisines                0
Average Cost for two    0
Currency                0
Price range             0
Aggregate rating        0
Votes                   0
dtype: int64

In [6]:
restaurant_data.duplicated().sum()

0

In [7]:
restaurant_data['City'] = restaurant_data['City'].apply(lambda x:x.split())
restaurant_data['Cuisines'] = restaurant_data['Cuisines'].apply(lambda x:x.split())

In [8]:
# Convert 'Address' and 'Average Cost for two' to string and split them for tagging
restaurant_data['Address'] = restaurant_data['Address'].astype(str).apply(lambda x:x.split())

In [9]:
restaurant_data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Cuisines,Average Cost for two,Currency,Price range,Aggregate rating,Votes
0,6317637,Le Petit Souffle,162,"[Makati, City]","[Third, Floor,, Century, City, Mall,, Kalayaan...","[French,, Japanese,, Desserts]",1100,Botswana Pula(P),3,4.8,314
1,6304287,Izakaya Kikufuji,162,"[Makati, City]","[Little, Tokyo,, 2277, Chino, Roces, Avenue,, ...",[Japanese],1200,Botswana Pula(P),3,4.5,591
2,6300002,Heat - Edsa Shangri-La,162,"[Mandaluyong, City]","[Edsa, Shangri-La,, 1, Garden, Way,, Ortigas,,...","[Seafood,, Asian,, Filipino,, Indian]",4000,Botswana Pula(P),4,4.4,270
3,6318506,Ooma,162,"[Mandaluyong, City]","[Third, Floor,, Mega, Fashion, Hall,, SM, Mega...","[Japanese,, Sushi]",1500,Botswana Pula(P),4,4.9,365
4,6314302,Sambo Kojin,162,"[Mandaluyong, City]","[Third, Floor,, Mega, Atrium,, SM, Megamall,, ...","[Japanese,, Korean]",1500,Botswana Pula(P),4,4.8,229

In [10]:
# Combine City, Cuisines, Address, and Average Cost for two into the 'tag' column
restaurant_data['tag'] = restaurant_data['City'] + restaurant_data['Cuisines']

In [11]:
restaurant_data['tag'][2]

['Mandaluyong', 'City', 'Seafood,', 'Asian,', 'Filipino,', 'Indian']

In [12]:
restaurant_data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Cuisines,Average Cost for two,Currency,Price range,Aggregate rating,Votes,tag
0,6317637,Le Petit Souffle,162,"[Makati, City]","[Third, Floor,, Century, City, Mall,, Kalayaan...","[French,, Japanese,, Desserts]",1100,Botswana Pula(P),3,4.8,314,"[Makati, City, French,, Japanese,, Desserts]"
1,6304287,Izakaya Kikufuji,162,"[Makati, City]","[Little, Tokyo,, 2277, Chino, Roces, Avenue,, ...",[Japanese],1200,Botswana Pula(P),3,4.5,591,"[Makati, City, Japanese]"
2,6300002,Heat - Edsa Shangri-La,162,"[Mandaluyong, City]","[Edsa, Shangri-La,, 1, Garden, Way,, Ortigas,,...","[Seafood,, Asian,, Filipino,, Indian]",4000,Botswana Pula(P),4,4.4,270,"[Mandaluyong, City, Seafood,, Asian,, Filipino..."
3,6318506,Ooma,162,"[Mandaluyong, City]","[Third, Floor,, Mega, Fashion, Hall,, SM, Mega...","[Japanese,, Sushi]",1500,Botswana Pula(P),4,4.9,365,"[Mandaluyong, City, Japanese,, Sushi]"
4,6314302,Sambo Kojin,162,"[Mandaluyong, City]","[Third, Floor,, Mega, Atrium,, SM, Megamall,, ...","[Japanese,, Korean]",1500,Botswana Pula(P),4,4.8,229,"[Mandaluyong, City, Japanese,, Korean]"

In [13]:
new_df = restaurant_data[['Restaurant Name', 'City', 'Address', 'Cuisines', 'Aggregate rating', 'tag']]

In [14]:
new_df.head()

,Restaurant Name,City,Address,Cuisines,Aggregate rating,tag
0,Le Petit Souffle,"[Makati, City]","[Third, Floor,, Century, City, Mall,, Kalayaan...","[French,, Japanese,, Desserts]",4.8,"[Makati, City, French,, Japanese,, Desserts]"
1,Izakaya Kikufuji,"[Makati, City]","[Little, Tokyo,, 2277, Chino, Roces, Avenue,, ...",[Japanese],4.5,"[Makati, City, Japanese]"
2,Heat - Edsa Shangri-La,"[Mandaluyong, City]","[Edsa, Shangri-La,, 1, Garden, Way,, Ortigas,,...","[Seafood,, Asian,, Filipino,, Indian]",4.4,"[Mandaluyong, City, Seafood,, Asian,, Filipino..."
3,Ooma,"[Mandaluyong, City]","[Third, Floor,, Mega, Fashion, Hall,, SM, Mega...","[Japanese,, Sushi]",4.9,"[Mandaluyong, City, Japanese,, Sushi]"
4,Sambo Kojin,"[Mandaluyong, City]","[Third, Floor,, Mega, Atrium,, SM, Megamall,, ...","[Japanese,, Korean]",4.8,"[Mandaluyong, City, Japanese,, Korean]"

In [15]:
new_df['Restaurant Name'] = new_df['Restaurant Name'].apply(lambda x: x.lower())

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6036\3203818262.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Restaurant Name'] = new_df['Restaurant Name'].apply(lambda x: x.lower())

In [16]:
new_df['tag'] = new_df['tag'].apply(lambda x:" ".join(x))

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6036\2072057965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(lambda x:" ".join(x))

In [17]:
new_df['tag'] = new_df['tag'].apply(lambda x:x.lower())

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6036\1436014886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(lambda x:x.lower())

In [18]:
new_df['Cuisines'] = new_df['Cuisines'].apply(lambda x:" ".join(x))

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6036\4059717037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Cuisines'] = new_df['Cuisines'].apply(lambda x:" ".join(x))

In [19]:
new_df.head()

,Restaurant Name,City,Address,Cuisines,Aggregate rating,tag
0,le petit souffle,"[Makati, City]","[Third, Floor,, Century, City, Mall,, Kalayaan...","French, Japanese, Desserts",4.8,"makati city french, japanese, desserts"
1,izakaya kikufuji,"[Makati, City]","[Little, Tokyo,, 2277, Chino, Roces, Avenue,, ...",Japanese,4.5,makati city japanese
2,heat - edsa shangri-la,"[Mandaluyong, City]","[Edsa, Shangri-La,, 1, Garden, Way,, Ortigas,,...","Seafood, Asian, Filipino, Indian",4.4,"mandaluyong city seafood, asian, filipino, indian"
3,ooma,"[Mandaluyong, City]","[Third, Floor,, Mega, Fashion, Hall,, SM, Mega...","Japanese, Sushi",4.9,"mandaluyong city japanese, sushi"
4,sambo kojin,"[Mandaluyong, City]","[Third, Floor,, Mega, Atrium,, SM, Megamall,, ...","Japanese, Korean",4.8,"mandaluyong city japanese, korean"

In [20]:
import nltk
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

In [21]:
def stem(text):
    y = []

    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [22]:
new_df['tag'] = new_df['tag'].apply(stem)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6036\4074900442.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(stem)

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=10000, stop_words='english')

In [24]:
vectors = cv.fit_transform(new_df['tag']).toarray()

In [25]:
vectors[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0], dtype=int64)

In [26]:
cv.get_feature_names_out()

array(['_lia', '_ner', '_rek', 'abu', 'afghani', 'african', 'agra',
       'ahmedabad', 'albani', 'allahabad', 'american', 'amritsar',
       'andhra', 'ankara', 'arabian', 'argentin', 'argentine', 'armenian',
       'armidal', 'asian', 'assames', 'assamese', 'athen', 'auckland',
       'augusta', 'aurangabad', 'australian', 'awadhi', 'bakeri',
       'bakery', 'balingup', 'ballina', 'bandung', 'bangalor', 'bar',
       'bay', 'bbq', 'beach', 'beechworth', 'belgian', 'bengali',
       'beverag', 'beverages', 'bhopal', 'bhubaneshwar', 'bihari',
       'birmingham', 'biryani', 'bogor', 'bois', 'bras', 'brazilian',
       'breakfast', 'british', 'bubbl', 'burger', 'burmes', 'burmese',
       'cafe', 'cajun', 'calient', 'canadian', 'cantones', 'cantonese',
       'cape', 'caribbean', 'cedar', 'chandigarh', 'charcoal', 'chatham',
       'chennai', 'chettinad', 'chines', 'chinese', 'chip', 'citi',
       'clatskani', 'cochran', 'coffe', 'coimbator', 'colombo', 'columbu',
       'consort', 'contemporari', 'contemporary', 'continent',
       'continental', 'cove', 'cream', 'cuban', 'cuisin', 'cuisine',
       'curri', 'curry', 'dalton', 'davenport', 'dehradun', 'delhi',
       'deli', 'dessert', 'desserts', 'dhabi', 'dicki', 'dim', 'diner',
       'doha', 'drink', 'dubai', 'dubuqu', 'durban', 'east', 'eastern',
       'edinburgh', 'entranc', 'european', 'faridabad', 'fast', 'fernley',
       'filipino', 'finger', 'fish', 'flaxton', 'food', 'forrest',
       'french', 'fusion', 'gainesvil', 'german', 'ghaziabad', 'goa',
       'goan', 'gourmet', 'greek', 'grill', 'gujarati', 'gurgaon',
       'guwahati', 'harbor', 'hawaii', 'hawaiian', 'healthi', 'hepburn',
       'huskisson', 'hyderabad', 'hyderabadi', 'ice', 'indian',
       'indonesian', 'indor', 'inner', 'intern', 'international',
       'inverloch', 'iowa', 'iranian', 'irish', 'island', 'italian',
       'izgara', 'jaipur', 'jakarta', 'janeiro', 'japanes', 'japanese',
       'johannesburg', 'juan', 'juic', 'juices', 'kanpur', 'kashmiri',
       'kebab', 'kerala', 'kiwi', 'kochi', 'kolkata', 'korean', 'lake',
       'lakeview', 'lankan', 'latin', 'lebanes', 'lebanese', 'lincoln',
       'london', 'lorn', 'lucknow', 'lucknowi', 'ludhiana', 'macedon',
       'macon', 'maharashtrian', 'makati', 'malay', 'malaysian',
       'malwani', 'manchest', 'mandaluyong', 'mangalor', 'mangalorean',
       'mayfield', 'mc', 'meat', 'meats', 'mediterranean', 'mex',
       'mexican', 'middl', 'middleton', 'millan', 'mineira', 'mithai',
       'modern', 'mohali', 'moin', 'monro', 'montvil', 'moroccan',
       'mughlai', 'mumbai', 'mysor', 'naga', 'nagpur', 'nashik',
       'nepales', 'nepalese', 'new', 'noida', 'north', 'ojo', 'onli',
       'oriya', 'orlando', 'pakistani', 'palm', 'panchkula', 'parsi',
       'pasay', 'pasig', 'patisseri', 'patisserie', 'patna', 'paulo',
       'paynesvil', 'penola', 'pensacola', 'peranakan', 'persian',
       'peruvian', 'phillip', 'pizza', 'pocatello', 'portugues',
       'portuguese', 'potrero', 'pretoria', 'princeton', 'pub',
       'puducherri', 'pune', 'quezon', 'rajasthani', 'ramen', 'ranchi',
       'randburg', 'rapids', 'raw', 'rest', 'restaur', 'rio', 'rosa',
       'salad', 'san', 'sandton', 'sandwich', 'santa', 'savannah',
       'scottish', 'seafood', 'secunderabad', 'sharjah', 'singapor',
       'singaporean', 'sioux', 'soul', 'south', 'southern',
       'southwestern', 'spanish', 'spring', 'sri', 'stanbul', 'station',
       'steak', 'street', 'sum', 'sunda', 'surat', 'sushi', 'tagaytay',
       'taguig', 'taiwanese', 'tampa', 'tangerang', 'tanunda', 'tapa',
       'tapas', 'tea', 'teriyaki', 'tex', 'thai', 'tibetan', 'town',
       'trentham', 'turkish', 'vadodara', 'valdosta', 'varanasi', 'vari',
       'vegetarian', 'vernonia', 'victor', 'vietnames', 'vietnamese',
       'vineland', 'vizag', 'waterloo', 'weirton', 'wellington',
       'western', 'winchest', 'world', 'yorkton'], dtype=object)

In [27]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectors)

In [28]:
new_df.head()

,Restaurant Name,City,Address,Cuisines,Aggregate rating,tag
0,le petit souffle,"[Makati, City]","[Third, Floor,, Century, City, Mall,, Kalayaan...","French, Japanese, Desserts",4.8,"makati citi french, japanese, dessert"
1,izakaya kikufuji,"[Makati, City]","[Little, Tokyo,, 2277, Chino, Roces, Avenue,, ...",Japanese,4.5,makati citi japanes
2,heat - edsa shangri-la,"[Mandaluyong, City]","[Edsa, Shangri-La,, 1, Garden, Way,, Ortigas,,...","Seafood, Asian, Filipino, Indian",4.4,"mandaluyong citi seafood, asian, filipino, indian"
3,ooma,"[Mandaluyong, City]","[Third, Floor,, Mega, Fashion, Hall,, SM, Mega...","Japanese, Sushi",4.9,"mandaluyong citi japanese, sushi"
4,sambo kojin,"[Mandaluyong, City]","[Third, Floor,, Mega, Atrium,, SM, Megamall,, ...","Japanese, Korean",4.8,"mandaluyong citi japanese, korean"

In [29]:
new_df['tag'][2]

'mandaluyong citi seafood, asian, filipino, indian'

In [30]:
from difflib import get_close_matches

def clean_city(city_val):
    """Normalize city value to a clean string."""
    if isinstance(city_val, list):
        if city_val:
            city_val = city_val[0]
        else:
            return ""
    if isinstance(city_val, str):
        return city_val.replace("[", "").replace("]", "").replace("'", "").split(",")[0].strip()
    return str(city_val).strip()

def cuisine_set(cuisine_val):
    """Convert cuisine string/list to a set of lowercase cuisines."""
    if isinstance(cuisine_val, list):
        cuisines = cuisine_val
    elif isinstance(cuisine_val, str):
        cuisines = [c.strip() for c in cuisine_val.split(",")]
    else:
        cuisines = [str(cuisine_val)]
    return {c.lower() for c in cuisines if c}

In [31]:
def recommend_with_name(restaurant):
    global new_df, similarity  # assuming you already have these

    # Exact match search
    matches = new_df[new_df['Restaurant Name'] == restaurant]

    if matches.empty:
        # Try fuzzy match
        all_names = new_df['Restaurant Name'].astype(str).tolist()
        close_match = get_close_matches(str(restaurant), all_names, n=1, cutoff=0.6)
        if not close_match:
            print(f"No restaurant found for '{restaurant}'. Please check spelling.")
            return
        print(f"No exact match found. Using closest match: {close_match[0]}")
        matches = new_df[new_df['Restaurant Name'] == close_match[0]]

    # Get first matching index
    restaurant_index = matches.index[0]

    # Get cleaned city and cuisines for the selected restaurant
    restaurant_city = clean_city(matches.iloc[0]['City'])
    restaurant_cuisines = cuisine_set(matches.iloc[0]['Cuisines'])

    # Get similarity scores
    distances = similarity[restaurant_index]
    restaurant_list = sorted(
        list(enumerate(distances)),
        reverse=True,
        key=lambda x: x[1]
    )[1:]  # skip itself

    # Filter by same city & at least one cuisine match
    filtered_list = []
    for idx, score in restaurant_list:
        rec_city = clean_city(new_df.iloc[idx]['City'])
        rec_cuisines = cuisine_set(new_df.iloc[idx]['Cuisines'])
        if rec_city == restaurant_city and not restaurant_cuisines.isdisjoint(rec_cuisines):
            filtered_list.append((idx, score))
        if len(filtered_list) >= 5:
            break

    # Print results
    for idx, score in filtered_list:
        name = new_df.iloc[idx]['Restaurant Name']
        city = clean_city(new_df.iloc[idx]['City'])
        cuisines = new_df.iloc[idx]['Cuisines']
        print(f"{name} ({city}) - {cuisines}")

In [32]:
recommend_with_name('Decked Up By Garden Cafe')

No exact match found. Using closest match: decked up by garden cafe
tapri central (Jaipur) - Cafe, Fast Food, Street Food
decked up by garden cafe (Jaipur) - Cafe, Fast Food, North Indian
mutual's (Jaipur) - Cafe, Mexican, Italian, North Indian, Fast Food
blackout (Jaipur) - North Indian, European, Continental, Finger Food
the forresta kitchen & bar (Jaipur) - Continental, Mexican, Beverages, Desserts, North Indian, Chinese, Rajasthani

In [33]:
import pickle

pickle.dump(new_df.to_dict(), open("restaurants.pkl", "wb"))
pickle.dump(similarity, open("similarity.pkl", "wb"))

print("✅ Pickle files saved: restaurants.pkl and similarity.pkl")

✅ Pickle files saved: restaurants.pkl and similarity.pkl